# Dependencies, objects, and libraries
*.d
*.o
*.a

# Tools
build_gbwt
merge_gbwt
benchmark
metadata_tool
remove_seq

# Tests
test_bwtmerge
test_metadata
test_queries
test_support
test_variants

# Legacy tools
prepare_text
metadata

# Mac
.DS_Store

# emacs
*~

# vim
\#*

# cmake
build
